<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
		<title>Eat-Da-Burger</title>
		
		
		
	</head>
	<body>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/burgers.js"></script>
		<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>
